body {
    display: flex;
    background-image: url('https://images.unsplash.com/photo-1671528436649-4b347e86632a?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    color: white;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: flex;
    color: black;
    background: white;
    justify-content: center;
    font-size: 35px;
    padding: 15px;
}

h3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer {
    background: white;
    color: black;
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    min-width: 40%;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

#player, #dealer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0px
}

img {
    margin: 5px;
}

#hit {
    background-color: mediumspringgreen;
    font-size: 16px;
    padding: 16px;
    border-radius: 12px;
}

#hit:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#stand {
    background-color: yellow;
    font-size: 16px;
    padding: 16px;
    border-radius: 12px;
}

#stand:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#reset {
    background-color: red;
    font-size: 16px;
    padding: 16px;
    border-radius: 12px;
}

#reset:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
}